<div class="col-xs-12 col-sm-6 col-md-4">
	<div class="card">
		<a class="img-card" href="{{this.url}}" target="_blank">
			<img src="{{this.img}}" />
		</a>
		<div class="card-content">
			<h4 class="card-title">
				<p class="truncate" title="{{this.name}}">
					{{{this.name}}}
				</p>
			</h4>
			<div>
				<a href="{{this.url}}" target="_blank">
					View on Etsy
				</a>
			</div>
		</div>
	</div>
</div>